# Ignorar arquivos de backup
backup/

# Ignorar arquivos de configuração
*.conf

# Ignorar arquivos de logs
*.log

# Ignorar arquivos de cache
__pycache__/

# Ignorar arquivos de ambiente virtual
venv/

# Incluir os seguintes arquivos no repositório
!environment
!check_and_fix_apt.sh
